.score-table-section{
    /* background-color: yellowgreen; */
    height: 90vh;
    text-align: center;
    
}

.score-table-container{
    /* background-color: violet; */
    height: 60vh;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

Table{
    height: 50vh;

}